{sub_dirs,["deps","apps"]}.
{lib_dirs,["apps","deps"]}.
{deps_dir,["deps"]}.
{deps, [
    {active, ".*", {git, "https://github.com/synrc/active", "HEAD"}},
    {gproc, ".*", {git, "https://github.com/uwiger/gproc.git", "HEAD"}},
    {ux, ".*", {git, "https://github.com/erlang-unicode/ux", "HEAD"}},
    {eslang, ".*", {git, "https://github.com/5HT/eslang", "HEAD"}}
]}.
